#include <windows.h>

#include "testcase3.h"

IDA_MAINACCL ACCELERATORS
BEGIN
    VK_F1, IDC_TOGGLE_HELP, VIRTKEY
    "1", IDC_SET_PLANE_XZ, VIRTKEY
    "2", IDC_SET_PLANE_XY, VIRTKEY
    "3", IDC_SET_AXES_AB, VIRTKEY
    "4", IDC_SET_ZOOM, VIRTKEY
    VK_UP, IDC_STEER_UP, VIRTKEY
    VK_RIGHT, IDC_STEER_RIGHT, VIRTKEY
    VK_DOWN, IDC_STEER_DOWN, VIRTKEY
    VK_LEFT, IDC_STEER_LEFT, VIRTKEY
END
