#include <windows.h>

#include "testcase3.h"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

IDA_MAINACCL ACCELERATORS
BEGIN
    VK_F1, IDC_TOGGLE_HELP, VIRTKEY
    "1", IDC_SET_PLANE_XZ, VIRTKEY
    "2", IDC_SET_PLANE_XY, VIRTKEY
    "3", IDC_SET_AXES_AB, VIRTKEY
    "4", IDC_SET_VIEW_BZ, VIRTKEY
    VK_UP, IDC_STEER_UP, VIRTKEY
    VK_RIGHT, IDC_STEER_RIGHT, VIRTKEY
    VK_DOWN, IDC_STEER_DOWN, VIRTKEY
    VK_LEFT, IDC_STEER_LEFT, VIRTKEY
    "W", IDC_STEER_UP, VIRTKEY
    "D", IDC_STEER_RIGHT, VIRTKEY
    "S", IDC_STEER_DOWN, VIRTKEY
    "A", IDC_STEER_LEFT, VIRTKEY
    VK_PRIOR /* PAGE UP */, IDC_STEER_POWER_UP, VIRTKEY
    VK_NEXT /* PAGE DOWN */, IDC_STEER_POWER_DOWN, VIRTKEY
    "M", IDC_PIXELRATIO_UP, VIRTKEY
    "N", IDC_PIXELRATIO_DOWN, VIRTKEY
    "B", IDC_ANTIALIASING_UP, VIRTKEY
    "V", IDC_ANTIALIASING_DOWN, VIRTKEY
END

ID_MANIFEST 24 DISCARDABLE
BEGIN
    "<?xml version=""1.0"" encoding=""UTF-8"" standalone=""yes""?>"
    "<assembly xmlns=""urn:schemas-microsoft-com:asm.v1"" manifestVersion=""1.0"">"
        "<trustInfo xmlns=""urn:schemas-microsoft-com:asm.v2"">"
            "<security>"
                "<requestedPrivileges>"
                    "<requestedExecutionLevel level=""asInvoker"" uiAccess=""false""/>"
                "</requestedPrivileges>"
            "</security>"
        "</trustInfo>"
        "<compatibility xmlns=""urn:schemas-microsoft-com:compatibility.v1"">"
            "<application>"
                "<supportedOS Id=""{e2011457-1546-43c5-a5fe-008deee3d3f0}""/>"  // Windows Vista
                "<supportedOS Id=""{35138b9a-5d96-4fbd-8e2d-a2440225f93a}""/>"  // Windows 7
                "<supportedOS Id=""{4a2f28e3-53b9-4441-ba9c-d69d4a4a6e38}""/>"  // Windows 8
                "<supportedOS Id=""{1f676c76-80e1-4239-95bb-83d0f6d0da78}""/>"  // Windows 8.1
                "<supportedOS Id=""{8e0f7a12-bfb3-4fe8-b9a5-48fd50a15a9a}""/>"  // Windows 10
            "</application>"
        "</compatibility>"
        "<application xmlns=""urn:schemas-microsoft-com:asm.v3"">"
            "<windowsSettings"
                " xmlns:ws=""http://schemas.microsoft.com/SMI/2005/WindowsSettings"""
                " xmlns:ws3=""http://schemas.microsoft.com/SMI/2016/WindowsSettings"""
            ">"
                "<ws:dpiAware>true</ws:dpiAware>"
            "</windowsSettings>"
        "</application>"
    "</assembly>"
END
